
tesis/main.blg 
tesis/main.fdb_latexmk 
tesis/main.glo
tesis/main.idx 
tesis/main.ind 
tesis/main.nlo 
tesis/main.synctex.gz 
tesis/main.xdy 
tesis/tesis.pdf 
tesis/tesis.synctex.gz
compiled/drracket/errortrace/grammar_rkt.zo
compiled/drracket/errortrace/grammar_rkt.dep
Meta-functions/compiled/drracket/errortrace/delta_rkt.dep
Meta-functions/compiled/drracket/errortrace/delta_rkt.zo
Meta-functions/delta.2
Relations/compiled/drracket/errortrace/progs_rkt.dep
Relations/compiled/drracket/errortrace/progs_rkt.zo
*.bak
*.dep
*.zo
*.2
*.ps
*.1
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
Relations/compiled/drracket/errortrace/tmp16407149901640714990790
Relations/compiled/drracket/errortrace/tmp16394225771639422577869
Relations/compiled/drracket/errortrace/tmp16394225771639422577866
Relations/compiled/drracket/errortrace/tmp16390863651639086365687
Relations/compiled/drracket/errortrace/tmp16390863651639086365684
Relations/compiled/drracket/errortrace/tmp16407149901640714990786
Tests/compiled/drracket/errortrace/tmp16408024671640802467688
Tests/compiled/drracket/errortrace/tmp16408024671640802467693
