
compiled/drracket/errortrace/grammar_rkt.zo
compiled/drracket/errortrace/grammar_rkt.dep
Meta-functions/compiled/drracket/errortrace/delta_rkt.dep
Meta-functions/compiled/drracket/errortrace/delta_rkt.zo
Meta-functions/delta.2
Relations/compiled/drracket/errortrace/progs_rkt.dep
Relations/compiled/drracket/errortrace/progs_rkt.zo
*.bak
*.dep
*.zo
*.2
*.pdf
*.ps
*.1
